[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Customer management API implemented in the Internet Engineering Course at Shahid Beheshti University
[access "refs/*"]
	owner = group user/Amin Borjian (Borjianamin98)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Amin Borjian (Borjianamin98)
	label-Verified = -1..+1 group user/Amin Borjian (Borjianamin98)
	push = group user/Amin Borjian (Borjianamin98)
	read = group user/Amin Borjian (Borjianamin98)
	rebase = group user/Amin Borjian (Borjianamin98)
	removeReviewer = group user/Amin Borjian (Borjianamin98)
	submit = group user/Amin Borjian (Borjianamin98)
[access "refs/heads/*"]
	create = group user/Amin Borjian (Borjianamin98)
	push = +force group user/Amin Borjian (Borjianamin98)
	pushMerge = group user/Amin Borjian (Borjianamin98)
	read = group user/Amin Borjian (Borjianamin98)
[access "refs/tags/*"]
	push = group user/Amin Borjian (Borjianamin98)
	push = +force group user/Amin Borjian (Borjianamin98)
